.phone-number-input {
    width: 100%;

    .ant-input-group-wrapper {
        width: 100%;

        .ant-input-wrapper {
            border: 1px solid #e6e9f0;
            border-radius: 8px;
            min-width: 200px;
            width: 100%;

            .ant-input {
                border-radius: 8px 0 0 8px;
                padding-left: 0;
                border: none !important;
                box-shadow: none !important;
            }

            .ant-input-group-addon {
                border: none !important;
                background-color: #ffffff;
                padding-top: 7px;
                border-radius: 8px 0 0 8px;
                justify-content: center;
                align-items: center;
            }
        }

        &.ant-input-group-wrapper-status-error .ant-input-wrapper {
            border: 1px solid #ff4d4f !important;
        }
    }
}